$dark-bg: lighten(black, 10%);
$dark-bg-title: lighten(black, 28%);
$dark-bg-highlight: lighten(black, 25%);
$dark-bg-card: lighten(black, 20%);
$dark-bg-light: lighten(black, 18%);


$dark-text: lighten(black, 70%);
$dark-text-title: lighten(black, 80%);
$dark-text-subtitle: lighten(black, 55%);
$dark-text-invalid: lighten(black, 35%);
$dark-text-copyright: lighten(black, 55%);


$dark-border: lighten(black, 30%);
$dark-border-chip: lighten(black, 20%);
$dark-border-light: lighten(black, 60%);


@media (prefers-color-scheme: dark) {
  body{
    background-color: $dark-bg;
  }

  .container{
    background-color: $dark-bg;
  }

  // CHIP
  .chip{
    border-color: $dark-border-chip;
    background-color: $dark-bg-card;
    &-img{
      img{
        display: block;
        height: 100%;
      }
    }
    &-name{
      border-color: $dark-border;
      background-color: $dark-bg-title;
      h2{
        color: $dark-text-title;
      }
      p{
        color: $dark-text-subtitle;
      }
    }
  }


  .info-list{
    .info-item{
      &:hover{
        &:after{
          border-bottom-color: $dark-border-light;
        }
      }
      &.invalid{
        .key{
          color: $dark-text-invalid;
        }
        .value{
          color: $dark-text-invalid;
        }
      }
      .key{
        @if $show-value-dash {
          background-color: $dark-bg-card;
        }
        color: $dark-text-subtitle;
      }
      .value-group{
      }
      .unit{
        font-weight: normal;
      }

      .value{
        font-weight: normal;
        @if $show-value-dash {
          background-color: $dark-bg-card;
        }
        color: $dark-text;
      }
      @if $show-value-dash {
        &::after{
          border-bottom: 1px dashed $dark-border;
        }
      }
    }
  }

  .gpu-list, .cpu-list{
    .gpu,.cpu{
      color: white;
      background-color: $dark-bg-title;
      border: 1px solid $dark-border;
      .tag{
        color: white;
      }
    }
  }

  .cpu{
    .fire{
      color: $dark-text-title;
    }
    .ice{
      color: $dark-text;
    }
  }
  .gpu{
    .brand{
      color: $dark-text-title;
    }
    .info{
      color: $dark-text-subtitle;
    }
    .tag{
      background-color: $magenta;
    }
  }


  // DEVICE TITLE
  .device-title {
    color: $dark-text;
    background-color: $dark-bg-title;
    border-color: $dark-border;
  }
  .device-list {
    .device-item {
      background-color: $dark-bg-title;
      border: 1px solid $dark-border ;
      color: $dark-text;
    }
  }

  // LABEL
  .rate{
    background-color: transparent !important;
  }


  // COPYRIGHT
  .copyright{
    .title{
      img{
      }
      h1{
        color: $dark-text-title;
      }
    }
  }

  .type-switch{
    border-color: $dark-border;
    .switch{
      &.active{
        background-color: #c9f73c;
      }
    }
  }

  .author{
    color: $dark-text-copyright;
  }


  // SCROLL BAR
  ::-webkit-scrollbar {
    z-index: 50;
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    border-color: transparent;
    background-color: transparent;
  }

  :hover::-webkit-scrollbar-thumb {
    border: 1px solid $dark-border;
    background-color: $dark-bg-highlight;
  }

}
