// Colors
$green          : #4CD964;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;

$text-info-invalid      : #d2d2d2;
$text-info              : #666;
$text-info-comment      : #808080;
$text-main              : #202122;
$text-title             : #3D3D40;
$text-copyright         : #666;

$color-border           : #d7d7d7;
$color-border-copyright : #a6a6a6;
$color-border-light     : #EDEDED;
$color-border-cpu       : #e7e7e7;

$bg-card: #F7F7F7;
$bg: #EDEDED;

$fz: 13px;
$fz-title: 15px;

$fz-chip-title: 22px;
$fz-chip-subtitle: 15px;

$fz-info: 14px;
$fz-info-sup: 12px;

$fz-cpu: 15px;
$fz-cpu-tag: 8px;
$fz-cpu-desc: 10px;

$fz-gpu: 15px;


$fz-device: 13px;
$fz-device-list-title: 14px;

$timer: 10px;
@for $item from 1 through 8 {
  .mt-#{$item}{ margin-top:     $timer * $item !important;}
  .mb-#{$item}{ margin-bottom:  $timer * $item !important;}
  .ml-#{$item}{ margin-left:    $timer * $item !important;}
  .mr-#{$item}{ margin-right:   $timer * $item !important;}
   .m-#{$item}{ margin:         $timer * $item !important;}

  .pt-#{$item}{ padding-top:    $timer * $item !important;}
  .pb-#{$item}{ padding-bottom: $timer * $item !important;}
  .pl-#{$item}{ padding-left:   $timer * $item !important;}
  .pr-#{$item}{ padding-right:  $timer * $item !important;}
   .p-#{$item}{ padding:        $timer * $item !important;}

}
