* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.2s;
  height: 3px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
  transition: all 0.2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

/*
  Extension
*/
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "DS Digital";
  src: url("../font/DSDigital.ttf");
}
@font-face {
  font-family: "PrestigeEliteStd";
  src: url("../font/PrestigeEliteStd-Bd.otf");
}
@font-face {
  font-family: "JetBrainsMonoPureNumber";
  src: url("../font/JetBrainsMono-Regular.otf");
}
@font-face {
  font-family: "VerdanaPureNumber";
  src: url("../font/VerdanaPureNumber.ttf");
}
@font-face {
  font-family: "LLPixel";
  src: url("../font/LLPixel_only_Letter.ttf");
}
.number {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "DS Digital", sans-serif !important;
}

.bold {
  font-weight: bold;
}

.mt-1 {
  margin-top: 10px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.m-1 {
  margin: 10px !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.pb-1 {
  padding-bottom: 10px !important;
}

.pl-1 {
  padding-left: 10px !important;
}

.pr-1 {
  padding-right: 10px !important;
}

.p-1 {
  padding: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.m-2 {
  margin: 20px !important;
}

.pt-2 {
  padding-top: 20px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.p-2 {
  padding: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.ml-3 {
  margin-left: 30px !important;
}

.mr-3 {
  margin-right: 30px !important;
}

.m-3 {
  margin: 30px !important;
}

.pt-3 {
  padding-top: 30px !important;
}

.pb-3 {
  padding-bottom: 30px !important;
}

.pl-3 {
  padding-left: 30px !important;
}

.pr-3 {
  padding-right: 30px !important;
}

.p-3 {
  padding: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.mr-4 {
  margin-right: 40px !important;
}

.m-4 {
  margin: 40px !important;
}

.pt-4 {
  padding-top: 40px !important;
}

.pb-4 {
  padding-bottom: 40px !important;
}

.pl-4 {
  padding-left: 40px !important;
}

.pr-4 {
  padding-right: 40px !important;
}

.p-4 {
  padding: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.ml-5 {
  margin-left: 50px !important;
}

.mr-5 {
  margin-right: 50px !important;
}

.m-5 {
  margin: 50px !important;
}

.pt-5 {
  padding-top: 50px !important;
}

.pb-5 {
  padding-bottom: 50px !important;
}

.pl-5 {
  padding-left: 50px !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.p-5 {
  padding: 50px !important;
}

.mt-6 {
  margin-top: 60px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.ml-6 {
  margin-left: 60px !important;
}

.mr-6 {
  margin-right: 60px !important;
}

.m-6 {
  margin: 60px !important;
}

.pt-6 {
  padding-top: 60px !important;
}

.pb-6 {
  padding-bottom: 60px !important;
}

.pl-6 {
  padding-left: 60px !important;
}

.pr-6 {
  padding-right: 60px !important;
}

.p-6 {
  padding: 60px !important;
}

.mt-7 {
  margin-top: 70px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.ml-7 {
  margin-left: 70px !important;
}

.mr-7 {
  margin-right: 70px !important;
}

.m-7 {
  margin: 70px !important;
}

.pt-7 {
  padding-top: 70px !important;
}

.pb-7 {
  padding-bottom: 70px !important;
}

.pl-7 {
  padding-left: 70px !important;
}

.pr-7 {
  padding-right: 70px !important;
}

.p-7 {
  padding: 70px !important;
}

.mt-8 {
  margin-top: 80px !important;
}

.mb-8 {
  margin-bottom: 80px !important;
}

.ml-8 {
  margin-left: 80px !important;
}

.mr-8 {
  margin-right: 80px !important;
}

.m-8 {
  margin: 80px !important;
}

.pt-8 {
  padding-top: 80px !important;
}

.pb-8 {
  padding-bottom: 80px !important;
}

.pl-8 {
  padding-left: 80px !important;
}

.pr-8 {
  padding-right: 80px !important;
}

.p-8 {
  padding: 80px !important;
}

.type-switch {
  padding: 30px 20px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-between;
}
.type-switch .switch {
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.type-switch .switch.active {
  background-color: rgba(0, 0, 0, 0.05);
}
.type-switch .switch img {
  display: block;
  width: 100%;
}
.type-switch .switch:last-child {
  margin-right: 0;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  flex-shrink: 0;
  width: 360px;
  padding: 60px 20px;
}
.copyright .title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.copyright .title img {
  width: 110px;
  height: 110px;
  margin-bottom: 30px;
}
.copyright .title h1 {
  color: #3D3D40;
  text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
}

.thumbs-up {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
.thumbs-up img {
  width: 30px;
  display: block;
}
.thumbs-up .count {
  font-size: 12px;
  text-align: center;
  color: #666;
}

.author {
  text-align: center;
  color: #666;
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-size: 13px;
}

body {
  background-color: #EDEDED;
  color: #202122;
}

.gap {
  height: 40px;
  flex-shrink: 0;
  width: 40px;
}

#app {
  width: 100%;
}

a.link:hover {
  color: #FF2D70;
}
a.link:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

.card-container {
  overflow-x: auto;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.chip {
  background-color: #F7F7F7;
  flex-shrink: 0;
  margin-right: 30px;
  width: 300px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.chip .chip-img {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.chip .chip-img img {
  display: block;
  height: 100%;
}
.chip .chip-name {
  padding: 8px 10px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
  line-height: 1.3;
}
.chip .chip-name h2 {
  font-size: 22px;
  line-height: 1.5;
  color: #202122;
  font-family: "LLPixel", sans-serif;
}
.chip .chip-name p {
  font-size: 15px;
  color: #666;
  font-family: "PrestigeEliteStd", sans-serif;
}

.info-list-group {
  margin: 15px 0;
  padding: 0 20px;
}

.info-list {
  font-size: 13px;
  margin-bottom: 15px;
}
.info-list:last-child {
  margin-bottom: 0;
}
.info-list .info-item {
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  line-height: 1.8;
}
.info-list .info-item:hover:after {
  border-bottom-color: #202122;
}
.info-list .info-item.invalid::after {
  content: none;
}
.info-list .info-item.invalid .key {
  color: #d2d2d2;
}
.info-list .info-item.invalid .value {
  color: #d2d2d2;
}
.info-list .info-item.invalid .value:before {
  content: "--";
}
.info-list .info-item .key {
  padding-right: 20px;
  z-index: 10;
  background-color: #F7F7F7;
  color: #666;
  flex-shrink: 0;
}
.info-list .info-item .value-group {
  line-height: 1.4;
  margin-bottom: 10px;
}
.info-list .info-item .unit {
  margin-left: 3px;
  font-size: 12px;
  font-weight: normal;
}
.info-list .info-item .value {
  padding-left: 20px;
  z-index: 10;
  background-color: #F7F7F7;
  font-weight: bold;
  color: #202122;
  text-align: right;
  letter-spacing: 0.5px;
  font-family: "JetBrainsMonoPureNumber", sans-serif;
}
.info-list .info-item::after {
  z-index: 1;
  content: "";
  top: 50%;
  width: 100%;
  display: block;
  border-bottom: 1px dashed #d7d7d7;
  position: absolute;
}

.device-title {
  font-size: 13px;
  background-color: white;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
}

.device-list {
  padding: 10px 20px;
}
.device-list .device-item {
  font-family: sans-serif;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.1;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #EDEDED;
  color: #202122;
}
.device-list .device-item:hover {
  cursor: cell;
  border-color: #FF2D70;
  background-color: #FF2D70;
  color: white;
}

.cpu-gpu-group {
  margin-top: 15px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column nowrap;
}

.gpu-list, .cpu-list {
  flex-flow: row nowrap;
  justify-content: stretch;
  margin-bottom: 10px;
  display: flex;
}
.gpu-list .gpu, .gpu-list .cpu, .cpu-list .gpu, .cpu-list .cpu {
  font-family: "Galvji", sans-serif;
  flex-grow: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #e7e7e7;
}
.gpu-list .gpu:last-child, .gpu-list .cpu:last-child, .cpu-list .gpu:last-child, .cpu-list .cpu:last-child {
  margin-right: 0;
}
.gpu-list .gpu .tag, .gpu-list .cpu .tag, .cpu-list .gpu .tag, .cpu-list .cpu .tag {
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 100;
  padding: 2px 4px;
  position: absolute;
  top: -2px;
  right: -3px;
  color: white;
  font-size: 8px;
}

.gpu {
  font-family: "JetBrains Mono", sans-serif;
  padding: 10px 5px;
}
.gpu .brand {
  font-size: 15px;
}
.gpu .info {
  margin-top: 3px;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 1.2;
  color: #808080;
  font-size: 10px;
}
.gpu .tag {
  background-color: #FF2D70;
}

.cpu {
  font-family: "Galvji", sans-serif;
  padding: 10px 5px;
  text-align: right;
  font-size: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #202122;
}
.cpu .fire {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.cpu .ice {
  color: #666;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.cpu .tag {
  background-color: #007AFF;
}

.btns {
  margin-bottom: 50px;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  padding: 8px 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: 1px solid #d7d7d7;
}
.btn h3 {
  color: #202122;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 3px;
  font-weight: bold;
}
.btn .desc {
  color: #666;
  line-height: 1.2;
  font-size: 0.7rem;
}
.btn:hover {
  color: white;
  background-color: #393b3c;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.btn:hover h3 {
  color: white;
}
.btn:hover .desc {
  color: #d2d2d2;
}
.btn:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  transform: translateY(2px);
}

.full-screen {
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
}
.full-screen-btn {
  opacity: 0.3;
  width: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-btn img {
  display: block;
  width: 100%;
}
.full-screen-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-tip {
  font-size: 12px;
  color: #999;
}
.full-screen-tip-mobile {
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  color: #999;
}

@media (max-width: 768px) {
  .card-container {
    padding: 10px;
  }
  .chip {
    width: 250px;
  }
  .chip-img {
    height: auto;
    padding: 20px;
  }
  .chip-img img {
    width: 80px;
  }
  .chip-name {
    padding: 10px;
    line-height: 1;
  }
  .chip-name h2 {
    font-size: 1.1rem;
  }
  .chip-name p {
    font-size: 0.8rem;
  }
  .info-list-group {
    padding: 10px 15px;
  }
  .info-list {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  .info-list .info-item {
    line-height: 1.8;
    margin-bottom: 0;
  }
  .device-list {
    padding: 10px 15px;
  }
  .device-list .device-item {
    font-size: 0.7rem;
  }
  .device-title {
    font-size: 0.9rem;
  }
  .text-big {
    font-size: 1rem;
  }
  .copyright {
    padding: 60px 30px 30px;
  }
  .copyright .title img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
  .copyright .title h1 {
    font-size: 1.3rem;
  }
  .author {
    letter-spacing: 0.3px;
    line-height: 1.4;
    font-size: 0.7rem;
  }
  .type-switch {
    padding: 20px 15px;
  }
  .type-switch .switch {
    width: 40px;
    height: 40px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
  }
  .container {
    background-color: #1a1a1a;
  }
  .chip {
    border-color: #333333;
    background-color: #333333;
  }
  .chip-img img {
    display: block;
    height: 100%;
  }
  .chip-name {
    border-color: #4d4d4d;
    background-color: #474747;
  }
  .chip-name h2 {
    color: #cccccc;
  }
  .chip-name p {
    color: #8c8c8c;
  }
  .info-list .info-item:hover:after {
    border-bottom-color: #999999;
  }
  .info-list .info-item.invalid .key {
    color: #595959;
  }
  .info-list .info-item.invalid .value {
    color: #595959;
  }
  .info-list .info-item .key {
    background-color: #333333;
    color: #8c8c8c;
  }
  .info-list .info-item .unit {
    font-weight: normal;
  }
  .info-list .info-item .value {
    font-weight: normal;
    background-color: #333333;
    color: #b3b3b3;
  }
  .info-list .info-item::after {
    border-bottom: 1px dashed #4d4d4d;
  }
  .gpu-list .gpu, .gpu-list .cpu, .cpu-list .gpu, .cpu-list .cpu {
    color: white;
    background-color: #474747;
    border: 1px solid #4d4d4d;
  }
  .gpu-list .gpu .tag, .gpu-list .cpu .tag, .cpu-list .gpu .tag, .cpu-list .cpu .tag {
    color: white;
  }
  .cpu .fire {
    color: #cccccc;
  }
  .cpu .ice {
    color: #b3b3b3;
  }
  .gpu .brand {
    color: #cccccc;
  }
  .gpu .info {
    color: #8c8c8c;
  }
  .gpu .tag {
    background-color: #FF2D70;
  }
  .device-title {
    color: #b3b3b3;
    background-color: #474747;
    border-color: #4d4d4d;
  }
  .device-list .device-item {
    background-color: #474747;
    border: 1px solid #4d4d4d;
    color: #b3b3b3;
  }
  .rate {
    background-color: transparent !important;
  }
  .copyright .title h1 {
    color: #cccccc;
  }
  .type-switch {
    border-color: #4d4d4d;
  }
  .type-switch .switch.active {
    background-color: #c9f73c;
  }
  .author {
    color: #8c8c8c;
  }
  ::-webkit-scrollbar {
    z-index: 50;
    width: 8px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    border-color: transparent;
    background-color: transparent;
  }
  :hover::-webkit-scrollbar-thumb {
    border: 1px solid #4d4d4d;
    background-color: #404040;
  }
}
