<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="UTF-8">
   <title>Apple A系列处理器参数大全</title>
   <meta name='description' content="苹果处理器详细参数汇总, iPad Pro, iPad Air, iPad Mini, iPad">
   <meta name='keywords' content="苹果处理器详细参数汇总,iPad Pro,iPad Air,iPad Mini,iPad">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/chip.css?v=20200620100029">
   <link rel="shortcut icon" href="imgs/logo_black.png" type="image/png">
   <link rel="apple-touch-icon" href="imgs/logo_black.png">
   <script src="../../lib/js/vue.min.2.6.10.js"></script>
</head>
<body>
<div id="app" @scroll="scroll" >

   <div class="card-container" :style="heightApp === 0? '': `height: ${heightApp}px`">
      <div class="copyright">

         <img src="./imgs/logo.png?v=20200620100029" alt="Apple Chip LOGO">
         <h1>苹果A系列处理器<br>参数大全</h1>

         <div class="description">
            <p>处理器型号中带末尾带字母的都是用在 iPad 上的，同年代同型号芯片，iPad 上的芯片要比用在 iPhone 上的强很多，尺寸也大很多。</p>
            <p>毕竟用在不同设备上的，手机上要考虑功耗等，两种芯片都是对应设备最优化了，没有可比性。</p>
         </div>

         <div class="author">
            <p>数据来源: <a class="link" href="https://en.wikipedia.org/wiki/Apple-designed_processors">Wikipedia</a></p>
            <p>数据规整: <a class="link" href="https://kylebing.cn">KyleBing</a></p>
            <p>最后更新: 2020/06/20</p>
            <p>相关链接: <a class="link" href="https://kylebing.cn/tools/ipad">iPad参数大全</a></p>
         </div>
      </div>


      <div class="chip" v-for="item in chips" :key="item">
         <div class="chip-img">
            <img :src="`./imgs/${item.name.replace(' ', '_')}_${item.model}.jpg`" :alt="item.name">
         </div>

         <div class="chip-name">
            <h2>{{item.name}}</h2>
            <p>{{item.model}}</p>
         </div>

         <div class="info-list-group">
            <div class="info-list">
               <div class="info-item">
                  <div class="key">CPU</div>
                  <div class="value" v-if="item.cpu.rate.length > 1">
                     <span class="text-big">{{item.cpu.rate[0]}}-{{item.cpu.rate[1]}}</span>GHz x <span class="text-big">{{item.cpu.core}}</span>
                  </div>
                  <div class="value" v-else> <span class="text-big">{{item.cpu.rate[0]}}</span> GHz x <span class="text-big">{{item.cpu.core}}</span></div>
               </div>
               <div class="info-item">
                  <div class="key">GPU</div>
                  <div class="value">{{item.gpu}}</div>
               </div>
            </div>

            <div class="info-list">
               <div class="info-item">
                  <div class="key">内核架构</div>
                  <div class="value">{{item.isa}}</div>
               </div>
               <div class="info-item">
                  <div class="key">内核大小</div>
                  <div class="value">{{item.dieSize}} mm<sup>2</sup></div>
               </div>
               <div class="info-item">
                  <div class="key">技术工艺</div>
                  <div class="value">{{item.tech}} 纳米</div>
               </div>
               <div :class="['info-item', {'invalid': !item.transistorCount}]">
                  <div class="key">晶体管数</div>
                  <div class="value" v-if="item.transistorCount">{{item.transistorCount}} 亿</div>
               </div>
            </div>

            <div class="info-list">
               <div class="info-item">
                  <div class="key">发布时间</div>
                  <div class="value">{{item.release}}</div>
               </div>
            </div>

            <div class="info-list">
               <div :class="['info-item', {'invalid': !item.os.init}]">
                  <div class="key">初始系统</div>
                  <div class="value">{{item.os.init}}</div>
               </div>
               <div :class="['info-item', {'invalid': !item.os.latest}]">
                  <div class="key">最新系统</div>
                  <div class="value">{{item.os.latest}}</div>
               </div>
            </div>
         </div>



         <!--设备列表-->
         <div class="device">
            <div class="device-title">运行设备</div>
            <div class="device-list">
               <div class="device-item" v-for="(device, index) in item.devices" :key="'device' + index">{{device}}</div>
            </div>
         </div>
      </div>

      <div class="gap"></div>
   </div>
</div>


<script src="chip.js?v=20200620100029"></script>

<script>
  setTimeout(()=>{
    if (location.href.indexOf('http://a.kylebing.cn') !== -1 || location.href.indexOf('http://localhost') !== -1) {

    } else {
      let hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?424010581994075b8b6b5ecc2d972de6";
      let s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    }
  }, 1000)
</script>

</body>
</html>