<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="UTF-8">
   <title>Apple A系列处理器参数大全</title>
   <meta name='description' content="苹果处理器详细参数汇总, iPad Pro, iPad Air, iPad Mini, iPad">
   <meta name='keywords' content="苹果处理器详细参数汇总,iPad Pro,iPad Air,iPad Mini,iPad">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/chip.css?v=20201010162141">
   <link rel="shortcut icon" href="imgs/logo_black.png" type="image/png">
   <link rel="apple-touch-icon" href="imgs/logo_black.png">
   <script src="../../lib/js/vue.min.2.6.10.js"></script>
</head>
<body>
<div id="app" @scroll="scroll" v-cloak>

   <div class="card-container" :style="heightApp === 0? '': `height: ${heightApp}px`">
      <div class="copyright">

         <img src="./imgs/logo.png?v=20201010162141" alt="Apple Chip LOGO">
         <h1>苹果{{models}}系列处理器<br>参数大全</h1>

         <!--OPERATIONS-->
         <div class="btns">
            <div class="btn" @click="switchModels">
               <div v-if="models === 'A'">
                  <h3>查看 S 系列</h3>
                  <p class="desc">Apple Watch 上的处理器</p>
               </div>
               <div v-else>
                  <h3>查看 A 系列</h3>
                  <p class="desc">iPhone iPad 上的处理器</p>
               </div>
            </div>
         </div>

         <!--DESCRIPTION-->
         <div class="description" v-if="models === 'A'">
            <p>末尾带字母的用在 iPad 上，同年代同型号芯片，iPad 上的芯片要比用在 iPhone 上的强很多，尺寸也大很多。</p>
            <p>毕竟用在不同设备上的，手机上要考虑功耗等，两种芯片都是对应设备最优化了。</p>
            <p>其它：<a class="link" target="_blank" href="https://kylebing.cn/tools/ipad">《iPad 参数大全》</a></p>
         </div>

         <div class="description" v-else>
            <p>S 系列处理器是用在 Apple Watch 上的</p>
         </div>



         <div class="author">
            <p>数据来源: <a class="link" href="https://en.wikipedia.org/wiki/Apple-designed_processors">Wikipedia</a></p>
            <p>作者主页: <a class="link" href="https://kylebing.cn">KyleBing.cn</a></p>
            <p>最后更新: 2020/10/10</p>
         </div>
      </div>


      <div class="chip" v-for="item in chips" :key="item">
         <div v-if="models === 'A'" class="chip-img">
            <img :src="`./imgs/A/${item.name.replace(' ', '_')}_${item.model}.jpg`" :alt="item.name">
         </div>
         <div v-else class="chip-img">
            <img :src="`./imgs/S/${item.name}.png`" :alt="item.name">
         </div>

         <div class="chip-name">
            <h2>{{item.name}}</h2>
            <p>{{item.model}}</p>
         </div>

         <div class="info-list-group">
            <div class="info-list">
               <div class="info-item">
                  <div class="key">CPU</div>
                  <div class="value" v-if="item.cpu.rate.length > 1">
                     <span class="text-big">{{item.cpu.rate[0]}}-{{item.cpu.rate[1]}}</span>GHz x
                     <span class="text-big">{{item.cpu.core}}</span>
                  </div>
                  <div class="value" v-else>
                     <span class="text-big">{{item.cpu.rate[0]}}</span><span v-if="item.cpu.rate[0]"> GHz</span> x
                     <span class="text-big">{{item.cpu.core}}</span></div>
               </div>
               <div :class="['info-item', {'invalid': !item.gpu}]">
                  <div class="key">GPU</div>
                  <div class="value">{{item.gpu}}</div>
               </div>
            </div>

            <div class="info-list">
               <div :class="['info-item', {'invalid': !item.isa}]">
                  <div class="key">内核架构</div>
                  <div class="value">{{item.isa}}</div>
               </div>
               <div :class="['info-item', {'invalid': !item.dieSize}]">
                  <div class="key">内核大小</div>
                  <div class="value">{{item.dieSize}} mm<sup>2</sup></div>
               </div>
               <div :class="['info-item', {'invalid': !item.tech}]">
                  <div class="key">技术工艺</div>
                  <div class="value"><span v-if="item.techCompany">{{item.techCompany}} - </span>{{item.tech}} 纳米</div>
               </div>
               <div :class="['info-item', {'invalid': !item.transistorCount}]">
                  <div class="key">晶体管数</div>
                  <div class="value" v-if="item.transistorCount">{{item.transistorCount}} 亿</div>
               </div>
            </div>

            <div class="info-list">
               <div class="info-item">
                  <div class="key">发布时间</div>
                  <div class="value">{{item.release}}</div>
               </div>
            </div>

            <div class="info-list">
               <div :class="['info-item', {'invalid': !item.os.init}]">
                  <div class="key">初始系统</div>
                  <div class="value">{{item.os.init}}</div>
               </div>
               <div :class="['info-item', {'invalid': !item.os.latest}]">
                  <div class="key">最终系统</div>
                  <div class="value">{{item.os.latest}}</div>
               </div>
            </div>
         </div>


         <!--设备列表-->
         <div class="device">
            <div class="device-title">运行设备</div>
            <div class="device-list">
               <div class="device-item" v-for="(device, index) in item.devices" :key="'device' + index">{{device}}</div>
            </div>
         </div>
      </div>

      <div class="gap"></div>
   </div>

   <!--进入全屏按钮-->
   <div v-if="showFullScreenBtn"
        v-show="!didEnteredFullScreen"
        class="full-screen full-screen-btn"
        @click="enterFullScreen">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAkCAYAAADGrhlwAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAANKADAAQAAAABAAAAJAAAAAAel1i7AAAA30lEQVRYCe1YwQ2EMAw7TrdHV+kO3aSDdJMO1Uk4HVI/UKuSdTUoCp9CROrYDgiyxRj3l6HjbYjLQcUJPd3Rz7nAWus5NLxOKQ3j/wqydVwI9YJaa/30lnWGH0IY1gUJ5ZyHCargDB856C8FlUMsjjvEKqfKM+fQ5t9yqt4hccy1nBMiO0GW5g7JpCaB3CFSOFmaOySTmgSy79DvTxD9DZKiLUlDddp3aImcwk3dIaHYFBQcY6G5V0eZzc36few6w0f7QkKlFJRzxFdPTmf4qDhzz5DPFJDVT4mbazlzhL7+TyWpzAcGkAAAAABJRU5ErkJggg==" alt="fullscreen-button" title="进入全屏模式">
   </div>

   <!--TIPS-->
   <p v-show="didEnteredFullScreen" class="full-screen full-screen-tip">Esc 退出全屏模式</p>

</div>


<script src="chip.js?v=20201010162141"></script>

<script>
  setTimeout(() => {
    if (location.href.indexOf('http://a.kylebing.cn') !== -1 || location.href.indexOf('http://localhost') !== -1) {

    } else {
      let hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?424010581994075b8b6b5ecc2d972de6";
      let s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    }
  }, 1000)
</script>

</body>
</html>